#acepto:checked+label {
    background-color: gold;
    font-weight: bold;
    }
    #hombre:checked+label, #mujer:checked+label {
    font-style: italic;
    }
    :enabled {
    background-color: lightgreen;
    }

    :disabled {
        background-color: lightcoral;
}