body{
    margin: 0;
    background-image: url(images/bg.png);
}

.container{
    margin-left: 15%;
    margin-right: 15%;
}

/************ HEADER *******************/
header{
    width: 100%;
    padding-bottom: 5px;
    background-color: white;
}

.logo{
    
    margin-top: 4%;
    margin-left: 1.5%;
    margin-bottom: 1.8%;
}

nav{
    
    float: right;
    margin-top: 4%;
    margin-right: 1.5%;
}

ul{
    
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}
ul li{
    
    display: inline-block;
    
}

ul li a:hover{

    background-color: rgb(255, 212, 69);

}


ul li a{
    padding: 15px 10px 15px 10px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
}

header section{
    position: relative;
    margin:10px;
    border: solid 10px rgb(207, 207, 207);
}

header section div{

    position:absolute;
    top: 20%;
    left: 7%;
    height: fit-content;
    width:30%;
    text-align: left;
    font-size: 140%;
}

header section div h1{
    font-size:170%;
    border-bottom: 1px dotted ;
}

header section div p{
    text-align: left;
}


header section div small{
    
    font-size: 90%;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 12px 40px 12px 40px;

}
header section img{
    
    width: 100%;
}


/********* MAIN *************/

main{

    padding: 15px;
    padding-top: 10px;
    background-color: white;
    display: inline-flex;
    
}

.izquierda {

    padding-left: 15px;
    padding-right: 50px;
    float: left;
    width:60%;
}

main h2{
    font-size: 30px;
    border-bottom: 2px dotted;
    padding-bottom: 5px;
}

main section article  {

    display:inline;

}




/******* ASIDE ******/
aside{
    padding-top: 10px;
    padding-left: 20px;
    width: 30%;
    background-color: white;
    
    
}

aside h2{
    font-size: 30px;
    border-bottom: dotted 2px;
    padding-bottom: 5px;
}

aside article{
    position: relative;
    padding-bottom: 15px;
    border-bottom: 2px dotted;
    display: inline-block;
    

}

aside article h3{
    float: left;
    font-weight: 600;
    width: 50%;
    
}

aside article time{
    
    
    background-color: rgb(255, 212, 69);
    margin-top: 22px;
    margin-bottom: 18px;
    float: left;
    margin-right: 10%;
    padding: 5px;
    font-weight: bolder;
}

aside article p{
    font-size: 15px;
    padding-top: 50px;
}

aside article a{
    
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    color: black;
    right: 17%;
    top: 66.5%;

}

aside img{
    border: 1px solid gray ;
    width: 100%;
}

/***** FOOTER *****/

footer{
    height: 50px;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
    width: 100%;
}   

footer small{
    padding-top: 10px;
    padding-right: 100px ;
}